.form-container{
    background-color: var(--color-neutral-1);

    @media only screen and (min-width: 1400px){
        padding: 0 var(--margin-body-medium);
    }
    @media only screen and (min-width: 1600px){
        padding: 0 var(--margin-body-large);
    } 
}
   
.form{
    background-color: var(--color-primary-2);
    background-image: url("../../assets/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 3rem;
    margin: 6rem 6rem 0 6rem;
    text-align: center;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;

    &__input{
        border: none;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 1rem 3rem;
        margin-right: 3rem;
        min-width: 70%;
    }

    &__input:focus{
        outline: none;
    }

    &__btn{
        background-color: var(--color-primary-1);
        border: none;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: white;
        padding: 1rem 3rem;
    }

    &__btn:hover{
        filter: brightness(110%);
        cursor: pointer;
    }

    &__btn:focus{
        outline: none;
    }

    &__output{
        transform: translateY(-50%);
    }

    &__error{
        background-color: pink;
        color: crimson;
        border-radius: 10px;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.5rem 3rem;
        margin: 0 6rem;
    }

    @media only screen and (max-width: 800px){
        &__output{
            transform: translateY(-25%);
        }
    }

    @media only screen and (max-width: 600px){
        background-image: url("../../assets/bg-shorten-mobile.svg");
        flex-direction: column;

        margin: 6rem 3rem 0 3rem;

        &__input{
            margin-right: 0;
            margin-bottom: 2rem;           
        }

        &__output{
            transform: translateY(-25%);
        }
    }
}