.form-button{
    background-color: var(--color-primary-1);
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    padding: 1rem 3rem;
}

.form-button:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.form-button:focus{
    outline: none;
}