.form-output{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    margin: 0 6rem;
    transform: translateY(-100%);

    &__inputURL{
        color: var(--color-neutral-4);
    }

    &__shortURL{
        color: var(--color-primary-1);
    }
}