.navigation{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 6rem;

    &__logo{
        width: 10rem;
        text-align: left;
    }

    &__dropdown{
        flex-grow: 1;
    }

    /*Hide checkbox - this "invisible" checkbox is used to toggle the menu on smaller screens*/
    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__main-menu{
        display: block;
    }

    &__menu-toggle {
        display: none;
        padding: 2rem;
        text-align: end;
    }

    &__main-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &--1{
            display: flex;
            justify-content: flex-start;
            list-style: none;
            width: 70%;
        }

        &--2{
            display: flex;
            justify-content: center;
            list-style: none;
            width: 30%;
        }

    }

    &__main-menu a {
        color: var(--color-neutral-2);
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
        margin-left: 5rem;
    }

    &__main-menu a:hover {
        color: var(--color-neutral-3);
    }    

    #signup-btn{
        background-color: var(--color-primary-1);
        border-radius: 30px;
        color: white;
        padding: 0.7rem 2rem;
    }

    #signup-btn:hover{
        filter: brightness(120%);
    }

    @media only screen and (max-width: 1100px){
        padding: 3rem 2rem;

        &__main-menu a {
            margin-left: 3rem;
        }
    }

    @media only screen and (max-width: 900px){
        padding: 3rem 1rem;

        &__main-menu a {
            margin-left: 1rem;
        }

        #signup-btn{
            padding: 0.7rem 1.5rem;
        }
    }

    @media only screen and (max-width: 600px){
       
        &__dropdown{
            position: relative;
        }

        &__menu-toggle {
          display: block;
        }

        &__main-menu{
            background-color: var(--color-primary-2);
            border-radius: 10px;
            display: none;
            position: absolute;
            width: 130%;
            z-index: 20;
            transform: translateX(-25%);

            &--1, &--2{
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
        }

        &__main-menu a {
            color: white;            
        }
    }
}


