.features{
    background-color: var(--color-neutral-1);
    text-align: center;
    padding-bottom: 6rem;
    position: relative;
    z-index: -2;
    
    &__text{
        color: var(--color-neutral-2);
        font-size: 1.4rem;
        margin: 0 20rem;
    }
    
    &__line{
        position: absolute;
        top: 60%;
        left: 25%;
        border-top: 6px solid var(--color-primary-1);
        width: 50%;
        z-index: -1;
    }

    &__cards{
        background-color: transparent;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 6rem;
        padding: 6rem;

        &--2{
            transform: translateY(15%);
        }

        &--3{
            transform: translateY(30%);
        }
    }

    @media only screen and (max-width: 800px){
        padding-bottom: 3rem;

        &__text{
            color: var(--color-neutral-2);
            font-size: 1.4rem;
            margin: 0 6rem;
        }

        &__cards{
            grid-template-columns: 1fr;

            &--2{
                transform: translateY(0);
            }
    
            &--3{
                transform: translateY(0);
            }
        }

        &__line{
            position: absolute;
            top: 20%;
            left: 49.5%;
            border-top: none;
            border-left: 6px solid var(--color-primary-1);
            height: 500px;
            width: 8px;
            z-index: -1;
        }
    }

    @media only screen and (max-width: 600px){
        &__line{
            height: 600px;
        }
    }

    @media only screen and (min-width: 1400px){
        padding-left: var(--margin-body-medium);
        padding-right: var(--margin-body-medium);
    }
    @media only screen and (min-width: 1600px){
        padding-left: var(--margin-body-large);
        padding-right: var(--margin-body-large);
    } 
}